PORT=3001
MONGODB_URI=
DB_NAME=
JWT_SECRET=
CLIENT_URL=http://localhost:3000

// cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_KEY=
CLOUDINARY_SECRET=

NODE_ENV=

// redis
REDIS_PASSWORD=
REDIS_PORT=
REDIS_HOST=
CACHE_EXPIRY=